################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Promessometro
/Promessometro.Aplicacao/obj
/Promessometro.Dominio/obj
/.vs/ProjectEvaluation
/Promessometro.Apresentacao.Api/obj
/Promessometro.Infraestrutura/obj
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.dll
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.exe
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.pdb
/Promessometro.Apresentacao.Api.Docker/obj/Container/ContainerId.cache
/Promessometro.Apresentacao.Api.Docker/obj/Container/ContainerName.cache
/Promessometro.Apresentacao.Api.Docker/obj/Container/ContainerRunContext.cache
/Promessometro.Apresentacao.Api.Docker/obj/Container/ImageId.cache
/Promessometro.Apresentacao.Api.Docker/obj/Container/LaunchedImageId.cache
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/apphost.exe
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.AssemblyInfo.cs
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.AssemblyInfoInputs.cache
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.dll
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.pdb
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.sourcelink.json
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/ref/Promessometro.Apresentacao.Api.Docker.dll
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/refint/Promessometro.Apresentacao.Api.Docker.dll
/Promessometro.Aplicacao/bin/Debug/net8.0/Promessometro.Aplicacao.dll
/Promessometro.Aplicacao/bin/Debug/net8.0/Promessometro.Aplicacao.pdb
/Promessometro.Aplicacao/bin/Debug/net8.0/Promessometro.Dominio.dll
/Promessometro.Aplicacao/bin/Debug/net8.0/Promessometro.Dominio.pdb
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Aplicacao.dll
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Aplicacao.pdb
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Dominio.dll
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Dominio.pdb
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Infraestrutura.dll
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Infraestrutura.pdb
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.csproj.AssemblyReference.cache
/Promessometro.Dominio/bin/Debug/net8.0/Promessometro.Dominio.dll
/Promessometro.Dominio/bin/Debug/net8.0/Promessometro.Dominio.pdb
/Promessometro.Infraestrutura/bin/Debug/net8.0/Promessometro.Aplicacao.dll
/Promessometro.Infraestrutura/bin/Debug/net8.0/Promessometro.Aplicacao.pdb
/Promessometro.Infraestrutura/bin/Debug/net8.0/Promessometro.Dominio.dll
/Promessometro.Infraestrutura/bin/Debug/net8.0/Promessometro.Dominio.pdb
/Promessometro.Infraestrutura/bin/Debug/net8.0/Promessometro.Infraestrutura.dll
/Promessometro.Infraestrutura/bin/Debug/net8.0/Promessometro.Infraestrutura.pdb
/Promessometro.Servico.Requerimentos/obj
/Promessometro.WebScraping/obj
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.deps.json
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.WebScraping.dll
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0/Promessometro.WebScraping.pdb
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.csproj.CoreCompileInputs.cache
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.csproj.FileListAbsolute.txt
/Promessometro.Apresentacao.Api.Docker/obj/project.assets.json
/Promessometro.Apresentacao.Api.Docker/obj/project.nuget.cache
/Promessometro.Apresentacao.Api.Docker/obj/Promessometro.Apresentacao.Api.Docker.csproj.nuget.dgspec.json
/Promessometro.WebScraping/bin/Debug/net8.0
/Promessometro.Apresentacao.Api.Docker/bin/Debug/net8.0
/Promessometro.Apresentacao.Api.Docker/obj/Debug/net8.0/Promessometro.Apresentacao.Api.Docker.assets.cache
/Promessometro.Apresentacao.Api.Docker/obj/Promessometro.Apresentacao.Api.Docker.csproj.nuget.g.targets
/Promessometro.Servico.Requerimentos/bin/Debug/net8.0/runtimes/unix/lib/net6.0
/Promessometro.Servico.Requerimentos/bin/Debug/net8.0
