################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Promessometro
/Promessometro.Aplicacao/obj
/Promessometro.Dominio/obj
